body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.grid {
    display: grid;
    border-style: solid;
    border-color: red;
    height: 600px;
    width: 600px;
}

.singleSquare {
    color: red;
}